#cookie-notice {
  position: fixed;
  display: none;
  z-index: 99999;
  padding: 1rem 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
#cookie-notice p {
  margin: 0;
  padding: 0;
}
#cookie-notice .scn-container {
  display: flex;
  margin: 0 -1rem;
}
#cookie-notice .scn-container > div {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
#cookie-notice .scn-container .scn-notice {
  width: 100%;
}
#cookie-notice .scn-container .scn-buttons {
  width: 30%;
}
#cookie-notice .scn-container .scn-btn {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: #FFFFFF;
  color: #000000;
  transition: all 150ms;
}
#cookie-notice .scn-container .scn-btn:hover,
#cookie-notice .scn-container .scn-btn:focus {
  background-color: #EEEEEE;
  transition: all 150ms;
}
@media only screen and (max-width: 1023px) {
  #cookie-notice .scn-container {
    flex-flow: row wrap;
  }
  #cookie-notice .scn-container .scn-notice {
    margin-bottom: 1rem;
    text-align: center;
  }
  #cookie-notice .scn-container .scn-buttons {
    width: 100%;
    margin: 0 0.5rem;
  }
}
